.search-form{
    margin-bottom: 20px;
}
.search-form > * {
    box-sizing: border-box;
}
.search-form input[type=text], .search-form input[type=email] {
    box-sizing: border-box;
    border: 2px solid #aaaaaa;
    color: #555555;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}
.search-form input[type=text]:active, .search-form input[type=email]:active, .search-form input[type=text]:focus, .search-form input[type=email]:focus {
    border: 2px solid #1635cb;
    color: #1635cb;
    -webkit-box-shadow: 0 0 44px -3px rgba(0,90,201,0.57);
    -moz-box-shadow: 0 0 44px -3px rgba(0,90,201,0.57);
    box-shadow: 0 0 44px -3px rgba(0,90,201,0.57);
    background-color: #ddddff;
}
.search-form button {
    display: auto;
    width: 40px;
    height: 40px;
    font-size: 26px;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    position: relative;
    top: 5px;
    left: -40px;
    cursor: pointer;
}
