.user {
    border-radius: 5px;
    background-color: #dddddd;
    border: 1px solid #999999;
    padding: 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    height: 600px;
}
.u-picture {
    text-align: center;
    margin-top:30px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
    height: 240px;

}
.change {
    display: none;
    cursor: pointer;
    width: 110px;
    margin-left: auto;
    margin-right: auto;


}

.u-picture:hover >.change{
    display: block;
    color: #7194DA;
}

.dane >.dane1 > ul > li, .dane >.dane2 > ul > li {
    margin-bottom: 20px;
    font-size: 20px;
    list-style-type: none;
    padding:7px;
}
.id{
     float:left;
     width: 125px;
     text-align: center;
     font-size:20px;
}

.data {
    border: solid 1px #7194DA;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    padding: 10px;
    margin-top:10px;


}
.dane {
    margin-top: 30px;
}
.dane1 {
    border: solid 1px #dddddd;
    float:left;
}

.dane2 {
    border: solid 1px #dddddd;
}

@media only screen and (max-width: 950px){
    .dane {
        margin-right: auto;
        display: inline-block;
        margin-top: -15px;
    }
    .dane1, .dane2 {
        clear: both;
        text-align: left;
    }
    .user {
        text-align: center;
        height: 760px;
        width: 560px;
        margin-top: 25px;
    }
    .u-picture {
        margin-top:10px;
    }

}

